.container-wrapper {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.form-container {
    text-align: left;
    margin-left: 20px;
}

.title {
    text-align: center;
}

.search-btn {
    margin-left: 10px;
}

.spinner {
    width: 15px;
    margin: auto;
}

.table-desc {
    text-align: center;
    margin: 20px;
}